<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="title-page">
                Book List of the author
            </p>
        </div>
        {% if books %}
                {% for book in books %}
                    <div class="col-sm-6">
                        <div class="card text-center">
                            <div class="card-header">
                                <a class="a-card-header" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a class="btn btn-primary" href="{% url 'book-update' book.id %}">
                                Update
                            </a>
                            <a class="btn btn-primary" href="{% url 'book-delete' book.id %}">
                                Delete
                            </a>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <div class="col-12">
                <p>There are no books for this author in the library</p>
            </div>
        {% endif %}
    </div>
</div>
