{% extends "base_generic.html" %}
{% load  catalog_char_string %}

{% block content %}
<h2>cycle tag example</h2>
<table>
    <tr>
        <td>{% cycle 'row1' 'row2' 'row3' as rowcolors silent %}</td>
        {% cycle rowcolors %}
        {% cycle rowcolors %}
        <td>{{ rowcolors }}</td>
    </tr>
    <tr>
        <td>{% cycle rowcolors %}</td>
        <td>{{ rowcolors }}</td>
    </tr>
    <tr>
        <td>{% cycle rowcolors %}</td>
        <td>{{ rowcolors }}</td>
    </tr>
    <tr>
        <td>{% cycle rowcolors %}</td>
        <td>{{ rowcolors }}</td>
    </tr>
    <tr>
        <td>{% cycle rowcolors %}</td>
        <td>{{ rowcolors }}</td>
    </tr>
    <tr>
        <td>{% cycle rowcolors %}</td>
        <td>{{ rowcolors }}</td>
    </tr>
</table>
<h2>end cycle tag example</h2>
<h2>filter tag</h2>
{% filter initial_letter_filter %}
Fjala e pare e kesaj fjalie duhet te jete strong
{% endfilter %}
<h2>end filter tag</h2>
{% with var1=False var2=0%}
<h2>firstof tag</h2>
{% firstof var1 var2 "fallback All value false" %}
<h2>end firstof tag</h2>
{% endwith %}

<h1>Author List</h1>

<ul>
    {% for author in my_author_list %}
    <li>
        <a href="{{author.get_absolute_url}}">
            {{author.last_name}},
            {{author.first_name}}
            ({{ author.date_of_birth }} - {{author.date_of_death}})
        </a>
        {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'author-update' author.id%}">
            Update
        </a>
        <a href="{% url 'author-delete' author.id %}">
            Delete
        </a>
        {% endif %}
    </li>
    {% books_per_author author %}
    {% empty %}
    <li>There isn't any author</li>
    {% endfor %}
</ul>
{% if perms.catalog.can_mark_returned %}
<a href="{% url 'author-create' %}">
    <button class="btn btn-success" style="color: white">
        ADD NEW AUTHOR
    </button>
</a>
{% endif %}
{% endblock %}